.field {
  position: relative;
  background-color: lightgreen;
  height: 700px;
}

img {
  width: 15%;
}

.dir-up {
  transform: rotate(0.75turn);
}

.dir-down {
  transform: rotate(0.25turn);
}

.dir-right {
  transform: rotate(0turn);
}

.dir-left {
  transform: rotate(0.5turn);
}
