.field {
  position: relative;
  background-color: lightgreen;
  height: 700px;
}

.car-wrapper {
  position: relative;
}

/*
@keyframes move {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}

offset: path("M 100 100 L 300 100 L 200 300 z") auto;
animation: move 3s linear infinite; */

#car {
  width: 15%;
  height: 100px;
  object-fit: contain;
  position: absolute;
}

.dir-up {
  transform: rotate(0.75turn);
}

.dir-down {
  transform: rotate(0.25turn);
}

.dir-right {
  transform: rotate(0turn);
}

.dir-left {
  transform: rotate(0.5turn);
}
