.field {
  position: relative;
  background-color: lightgreen;
  height: 700px;
}

.car-wrapper {
  position: relative;
}

#car {
  width: 15%;
  height: 100px;
  object-fit: contain;
  position: absolute;
}

.dir-up {
  transform: rotate(0.75turn);
}

.dir-down {
  transform: rotate(0.25turn);
}

.dir-right {
  transform: rotate(0turn);
}

.dir-left {
  transform: rotate(0.5turn);
}
